<!DOCTYPE html>
<html>
    <head>
        <title>Speidel Recipe Upload</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
        <script src="data/speidellib.js"></script>
        <script src="data/brewersfriend.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link href="data/speidel.css" rel="stylesheet" type="text/css">
        <script src="data/brauhaus.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <!-- <script src="brauhaus-beerxml.min.js"></script> -->
        <script src="data/import.js"></script>
        <script src="data/globals.js"></script>
        <script src="data/import.js"></script>
    </head>
    <body>
        <div id="speidel_app" class="container">
            <h1>Speidel Recipe Upload</h1>
            <div class="row">
                <div class="form" id="speideladdr_form">
                    <div class="form-group col-md-3">
                        <label for="speidel">
                            DNS-name/IP of Speidel
                        </label> 
                        <input
                            v-on:change="loadRecipes"
                            v-model="speidel"
                            type="text"
                            length="12"
                            class="form-control"
                            placeholder="Name/IP" id="speideladdr">
                        <small id="speidelHelp" class="form-text text-muted">
                            Make sure your Speidel is online.
                        </small>
                    </div>
                    <div v-if="api_key" id="bfname_row" class="col-md-6 row">
                        <transition name="fade">
                            <div v-if="loading_bf_recipes" class="loading alert alert-info">
                                <span>Loading recipes...</span>
                            </div>
                        </transition>
                        <label for="bfname">
                            Search in {{ num_bfrecipes }} recipes
                            <span v-on:click.stop="refreshBFRecipes"
                                  title="Refresh Brewersfriend recipes"
                                  class="glyphicon glyphicon-refresh">
                            </span>

                        </label>
                        <label for="checkbox"> <small>(include snapshot recipes?)</small></label>

                        <input type="checkbox" v-on:click.stop="populateRecipesfield" v-model="include_snapshots">
                        <input class="form-control" id="bfname" name="bfname">

                        <button v-on:click.stop="uploadBFRecipe"
                                class="btn btn-success"
                                id="bf_upload_button">
                        </button>
                    </div>
                </div>
            </div>

            
            <div class="row col-md-12 recipe">
                
                <p v-on:click.stop="show_manual_form = ! show_manual_form">Enter recipe data manually
                    <span v-if="! show_manual_form" 
                          title="Show manual form"
                          class="glyphicon glyphicon-chevron-down">
                    </span>
                    <span v-else 
                          title="Hide manual form"
                          class="glyphicon glyphicon-chevron-up">
                    </span>
                </p>
                <div class="recipe" v-if="show_manual_form">
                    <div class="row">
                        <div class="col-md-6">
                        <label for="recipe_name">
                            Recipe name
                        </label> 
                            <input type="text" v-model="recipe_name">
                        </div>
                        <div class="col-md-6">
                        <label for="boil_time">
                            Boil time
                        </label> 
                            <input class="mashstep" type="number" v-model="boil_time"> minutes</td>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        <table>
                            <th colspan="5">Mash steps</th>
                            <tr>
                                <td>Temp</td>
                                <template v-for="(item,index) in mash_temps">
                                    <td><input class="mashstep" type="number" v-model="mash_temps[index]"></td>
                                </template>
                            </tr>
                            <tr>
                                <td>Minutes</td>
                                <template v-for="(item,index) in mash_times">
                                    <td><input class="mashstep" type="number" v-model="mash_times[index]"></td>
                                </template>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table>
                            <th colspan="5">Hop/spice times</th>
                            <tr>
                                <td>Minutes</td>
                                <template v-for="(item,index) in hop_times">
                                    <td><input class="mashstep" type="number" v-model="hop_times[index]"></td>
                                </template>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <table>
                            <th colspan="5">Dry hop</th>
                            <tr>
                                <td>Days</td>
                                <template v-for="(item,index) in hop_days">
                                    <td><input class="mashstep" type="number" v-model="hop_days[index]"></td>
                                </template>
                            </tr>
                        </table>
                        <a id="ical_button">ICAL</a>

                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <small class="form-text text-muted">
                            Speidel Recipe:
                        <span>{{ recipe_string }}</span>
                        </small>
                        <button class="btn btn-success"  v-bind:style="{visibility: speidelvisible}" v-on:click.stop="uploadFormRecipe">Upload recipe data to Speidel</button>
                        </div>
                    </div>
                </div>
            </div>
            

            <transition name="fade">
                <div v-if="loading_speidel" class="loading alert alert-info">
                    <span>Loading data from Speidel...</span>
                </div>
            </transition>
            <div v-bind:style="{visibility: speidelvisible}" class="row" id="myspeidel">
                <strong>Drag a BeerXML-file from your computer to the area below ...</strong>
                <div id="drop_zone"
                     v-on:dragover="$event.preventDefault()"
                     v-on:drop="drop_handler($event)"
                     v-bind:style="{visibility: speidelvisible}">
                    <button class="btn btn-success" v-on:click.stop="loadRecipes">Refresh recipes list</button>
                    <ol id="recipelist">
                        <li v-for="recipe in recipes">
                            <span class="recipename">{{ recipe.name }}
                                <span title="Remove recipe"
                                      v-bind:id="recipe.nr"
                                      v-on:click="removeRecipe($event)"
                                      class="remove glyphicon glyphicon-remove">
                                </span>
                            </span>
                        </li>
                    </ol>
                    <a :href="'http://'+ speidel">myspeidel.com</a>

                    <div id="upload_status"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="data/api_key.js"></script>
    <script src="data/speidel2.js"></script>
</html>
